.header {
	border: 1px solid var(--border-grey-color);
	background: var(--white-color);
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	&__side {
		&-left {
			display: flex;
			align-items: center;
		}
	}
	&__link {
		margin-right: 60px;
	}
	&__actions {
		display: flex;
		align-items: center;
	}
	&__button {
		&:not(:last-child) {
			margin-right: 20px;
		}
		&-search {
			max-height: 20px;
			min-height: 20px;
			min-width: 20px;
		}
	}
	&__logo {
		min-width: 42px;
		min-height: 46px;
	}
	&__burger {
		display: none;
	}
}

@media (max-width: 1024px) {
	.header {
		&__container {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__actions {
			margin-top: 20px;
		}
	}
}

@media (max-width: 768px) {
	.header {
		&__link {
			margin-right: 20px;
		}
	}
}

@media (max-width: 590px) {
	.header {
		&__container {
			justify-content: space-between;
		}
		&__actions {
			display: none;
		}
		&__link {
			margin-right: 0;
		}
		&__burger {
			display: inline-block;
		}
	}
}
