.hero {
	&__container {
		padding-top: 40px;
		&-select {
			position: relative;
			max-width: 413px;
			margin-top: 30px;
		}
	}
	&__path {
		display: flex;
	}
	&__item {
		color: var(--black-color);
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		position: relative;
		&:last-child {
			color: var(--text-grey-color);
		}
		&:not(:last-child) {
			margin-right: 27px;
			&::after {
				content: "";
				background: url("../img/right-arrow.svg");
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: -14px;
				width: 7px;
				height: 13px;
			}
		}
		&-social {
			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}
	&__sides {
		display: flex;
		margin-top: 32px;
	}
	&__side {
		&-left {
			padding-top: 10px;
			max-width: 846px;
			margin-right: 20px;
		}
		&-right {
			background: var(--white-color);
			border: 1px solid #e0e0eb;
			border-radius: 15px;
			padding: 20px;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__title {
		&-name {
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			color: var(--black-color);
			margin-top: 20px;
			margin-bottom: 0;
		}
		&-docs {
			margin-top: 50px;
			margin-bottom: 0;
		}
	}
	&__slide {
		background: var(--white-color);
		border: 1px solid #e0e0eb;
		border-radius: 15px;
		padding: 15px;
		box-sizing: border-box;
	}
	&__slider {
		margin-top: 25px;
		z-index: 10;
	}
	&__btn {
		background: var(--blue-color);
		border-radius: 100px;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background 0.3s ease-in;
		&-prev {
			transform: rotate(180deg);
		}
		&-disabled {
			background: var(--white-color);
			border: 1px solid var(--border-grey-color);
			path {
				stroke: var(--border-grey-color) !important;
			}
		}
		&-send {
			padding-top: 15px;
			padding-bottom: 15px;
			width: 100%;
			margin-top: 25px;
		}
	}
	&__navigation {
		position: absolute;
		z-index: 15;
		top: 50%;
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		transform: translateY(-50%);
		display: flex;
		justify-content: space-between;
	}
	&__expert {
		position: relative;
	}
	&__tips {
		position: absolute;
		top: 50%;
		right: -36px;
		transform: translateY(-50%);
	}
	&__tip {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	&__number {
		color: var(--black-color);
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		margin-left: 10px;
	}
	&__profession {
		margin-bottom: 0;
		margin-top: 18px;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
	}
	&__icon {
		&-location {
			margin-right: 10px;
		}
		&-select-arrow {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 15px;
			pointer-events: none;
		}
	}
	&__location {
		color: var(--text-grey-color);
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 0;
		margin-top: 21px;
		display: flex;
		align-items: center;
	}
	&__social {
		margin-top: 20px;
		display: flex;
	}
	&__select {
		outline: none;
		border: 1px solid var(--border-grey-color);
		background: var(--white-color);
		padding: 14px 15px;
		border-radius: 100px;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: var(--black-color);
		width: 100%;
		appearance: none;
		position: relative;
	}
	&__persons {
		margin-top: 25px;
		display: flex;
	}
	&__person {
		&:not(:last-child) {
			margin-right: 12px;
		}
	}
	&__image {
		border: 4px solid var(--border-dark-grey-color);
		border-radius: 100px;
	}
}
