<header class="header">
	<div class="container header__container">
		<div class="header__side-left">
			<a href="#" class="header__link">
				<img
					loading="lazy"
					src="./img/logo.svg"
					class="image header__logo"
					width="42"
					height="46"
					alt="Логотип"
				/>
			</a>
			<nav class="nav" title="Навигационная панель">
				<ul class="nav__list list-reset">
					<li class="nav__item">
						<a href="#" class="nav__link">Мероприятия</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Трансляции</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Публикации</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link nav__link-active"
							>Маркетологи</a
						>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header__actions">
			<button class="header__button header__button-search btn-reset">
				<img
					loading="lazy"
					src="./img/search.svg"
					class="image"
					width="20"
					height="20"
					alt="Иконка поиска"
				/>
			</button>
			<button class="header__button button button__primary btn-reset">
				Регистрация
			</button>
			<button class="header__button button button__secondary btn-reset">
				Вход
			</button>
		</div>
	</div>
</header>
