<header class="header">
	<div class="container header__container">
		<img
			loading="lazy"
			src="./img/logo.svg"
			class="image"
			width="42"
			height="46"
			alt="Логотип"
		/>
		<nav class="nav" title="Навигационная панель">
			<ul class="nav__list list-reset">
				<li class="nav__item">
					<a href="#" class="nav__link">Мероприятия</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Трансляции</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Публикации</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Маркетологи</a>
				</li>
			</ul>
		</nav>
		<div class="header__actions">
			<button class="header__button btn-reset">
				<img
					loading="lazy"
					src="./img/search.svg"
					class="image"
					width="20"
					height="20"
					alt="Иконка поиска"
				/>
			</button>
			<button class="header__button button__primary btn-reset">
				Регистрация
			</button>
			<button class="header__button button__secondary btn-reset">
				Вход
			</button>
		</div>
	</div>
</header>
